body  {
    background-color: #7945FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.home-page {
    width: 500px;
    border: 3px solid #000;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.background-game-board-black {
    position: relative;
    z-index: -1;
}

.background-game-board-white {
    position: absolute;
}

.four-jeton-home-page {
    margin-right: auto;
    margin-left: auto;
    padding-top: 72px;
    padding-bottom: 80px;
}

.button-player-vs-player {
    border-radius: 20px;
    width: 360px;
    background-color: #FFCE67;
    border: 3px solid #000;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Barlow", serif;
}

.button-player-vs-player :hover {
    cursor: pointer;
}

.player-vs-player {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.asset-player-vs-player {
    width: 72px;
    height: 48px;
}

.go-to-game-rule {
    border-radius: 20px;
    width: 360px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #000;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Barlow", serif;
}

.go-to-game-rule :hover {
    cursor: pointer;
}

.game-rule-home-page {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}

.rules-page {
    width: 480px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #000;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.rule-title {
    font-size: 56px;
    font-weight: 700;
    font-family: "Barlow", serif;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

.objective {
    width: 412px;
    margin-left: 32px;
}

.title-objective {
    color: rgba(121, 69, 255, 1);
    padding-bottom: 16px;
}

.infos-objective {
   color: rgba(0, 0, 0, 0.6611); 
   padding-bottom: 32px;
}

.title-how-to-play {
    color: rgba(121, 69, 255, 1);
    padding-bottom: 16px;
}

.how-to-play {
    width: 412px;
    margin-left: 32px;
}

.list-of-rule {
    padding-left: 0;
    padding-left: 12px;
    margin-bottom: 48px;
}

.list-of-rule li {
    padding-bottom: 12px;
}

.rules {
    color: rgba(0, 0, 0, 0.6611); 
}

.rules-page {
    position: relative;
}

.button-under-rules {
    position: absolute;
    bottom: -40px;
    right: 192px;
    background: none;
    border: none;
    cursor: pointer;
}





.game-screen {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.game-board {
    position: relative;
}

.game-screen-grid {
    z-index: 20;
}

.game-screen-grid__cell {
    height: 64px;
    width: 64px;
}

.game-screen-grid__cell[data-x="0"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="0"] {
    position: absolute;
    top: 18px;
    left: 546px;
}

.game-screen-grid__cell[data-x="0"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="1"] {
    position: absolute;
    top: 106px;
    left: 546px;
}

.game-screen-grid__cell[data-x="0"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="2"] {
    position: absolute;
    top: 194px;
    left: 546px;
}

.game-screen-grid__cell[data-x="0"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="3"] {
    position: absolute;
    top: 282px;
    left: 546px;
}

.game-screen-grid__cell[data-x="0"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="4"] {
    position: absolute;
    top: 370px;
    left: 546px;
}

.game-screen-grid__cell[data-x="0"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 18px;
}

.game-screen-grid__cell[data-x="1"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 106px;
}

.game-screen-grid__cell[data-x="2"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 194px;
}

.game-screen-grid__cell[data-x="3"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 282px;
}

.game-screen-grid__cell[data-x="4"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 370px;
}

.game-screen-grid__cell[data-x="5"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 458px;
}

.game-screen-grid__cell[data-x="6"][data-y="5"] {
    position: absolute;
    top: 458px;
    left: 546px;
}